<!DOCTYPE html>
<html lang="es">

<body class="colorfondo">
   <div class="mx-auto" style="margin: 50px;">
      <div class="container" style="text-align: center;  padding: 20px; ">
         <i class="fas fa-search-dollar fa-6x"></i>
      </div>
      <div class="card mx-auto carta">
         <div class="card-body">
            <h5 class="card-title">Buscador</h5>
            <form name="my-form" onsubmit="" action="/busqueda" method="POST">
               <div class="input-group rounded">
                  <input type="search" class="form-control rounded" placeholder="Texto" aria-label="Texto"
                     aria-describedby="search-addon" id="texto" name="texto" />
                  <span class="input-group-text border-0" id="texto-addon">
                     <i class="fas fa-search"></i>
                  </span>
               </div>
               <span style="padding: 1px">
                  <div class="input-group rounded">
                     <select class="form-control etiqueta" id="estado" name="estado">
                        <option>Cualquiera</option>
                        <option>Nuevo</option>
                        <option>Bueno</option>
                        <option>Malo</option>
                     </select>
                     <span class="input-group-text border-0" id="estado-addon">
                        <i class="fas fa-search"></i>
                     </span>
                     <input type="search" class="form-control rounded" placeholder="Precio Minimo" aria-label="premin"
                        aria-describedby="search-addon" name="precioMinimo" />
                     <span class="input-group-text border-0" id="premin-addon">
                        <i class="fas fa-search"></i>
                     </span>
                     <input type="search" class="form-control rounded" placeholder="Precio Maximo" aria-label="premax"
                        aria-describedby="search-addon" name="precioMaximo" />
                     <span class="input-group-text border-0" id="premax-addon">
                        <i class="fas fa-search"></i>
                     </span>
                     <select class="form-control etiqueta" id="categoria" name="categoria">
                        <option>Cualquiera</option>
                        <option>Hogar</option>
                        <option>Electronica</option>
                        <option>Videojuegos</option>
                        <option>Automoviles</option>
                     </select>
                     <span class="input-group-text border-0" id="categoria-addon">
                        <i class="fas fa-search"></i>
                     </span>
               </span>
               <button id="buttonBusqueda" type="submit" class="btn btn-gris" style="margin-left: 0;">Buscar</button>
            </form>
         </div>
      </div>
      <div class="containerespecial">
         <div class="row" style="margin-right: 0px;">
            {{#each articulos}}
            <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card text-center">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-3 text-center">
                           <img class="img-rounded"  src="/data/uploads/{{foto}}" width="110" height="120" alt="Card image" style="padding-top: 5%;">
                           <div style="padding-top: 5%;">
                              <b>Estado: {{estado}}</b>
                           </div>
                        </div>
                        <div class="col-lg-6 text-center">
                           <div style="padding-top: 5%;">
                              <b class="m-2">{{nombre}}</b>
                              <b>{{precio}} €</b>
                           </div>
                           <div style="padding-top: 4%;">
                              <textarea class="descripcionArti" disabled>{{descripcion}}</textarea>
                           </div>
                        </div>
                        <div class="col-lg-3 text-center" style="padding-top: 4%;">
                           <button id='btn_Comprar' onClick="show({{idArticulo}})"
                              class="btn btn-gris mb-2">Comprar</button>
                           <a href="/cambiar/{{idArticulo}}" class="btn btn-rojo mb-2">Cambiar</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto" style="margin-bottom: 20%;">
               <div class="card card-body text-center">
                  <p>No hay articulos disponibles</p>
               </div>
            </div>
            {{/each}}
         </div>
      </div>
   </div>

   <div class="modal" tabindex="-1" role="dialog" id="idAlertaCompra">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Confirmar compra</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>¿Está seguro que desea comprar este artículo?</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-gris" id="idBotonConfirmar" onclick="comprar()">Comprar</button>
               <button type="button" class="btn btn-rojo" data-dismiss="modal">Cancelar</button>
            </div>
         </div>
      </div>
   </div>

</body>
<script src="scripts/buscador.js" type="module"></script>

</html>