<!DOCTYPE html>
<html lang="es">

<body class="colorfondo">
   <div class="mx-auto" style="margin: 50px;">
      <div class="container" style="text-align: center;  padding: 20px; ">
         <i class="fas fa-search-dollar fa-6x"></i>
      </div>
      <div class="card mx-auto carta">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col-10">
                     <div class="row">
                        <div class="col-2">
                           <h3 class="m-2">{{articulo.nombre}}</h3>
                        </div>
                        <div class="col-8">

                        </div>
                        <div class="col-2">
                           <h3 class="m-2">{{articulo.precio}} €</h3>
                        </div>
                     </div>
                     <div>
                        <textarea rows="4" cols="150" disabled>{{articulo.descripcion}}</textarea>
                     </div>
                  </div>
                  <div class="col-2">
                     <img class="img-rounded" src="/images/caja.png" width="140" height="140" alt="Card image">
                  </div>
               </div>
            </div>
         </div>
      <br>
      <h2 class="mx-auto">Tus articulos</h2>
      <br>
      <div class="containerespecial">
         <div class="row" style="margin-right: 0px;">
            {{#each articulosPropios}}
            <div class="col-md-4 mb-4">
               <div class="card text-center">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-5">
                           <img class="img-rounded" src="/images/caja.png" width="70" height="70" alt="Card image">
                        </div>
                        <div class="col-5">
                           <div>
                              <b class="m-2">{{nombre}}</b>
                           </div>
                           <div>
                              <b>{{precio}} €</b>
                           </div>
                        </div>
                        <div class="col-2">
                           <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                 id="flexRadioDefault{{idArticulo}}" onclick="guardarId({{idArticulo}})">
                              <label class="form-check-label" for="flexRadioDefault{{idArticulo}}">
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <br>
               </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto" style="margin-bottom: 20%;">
               <div class="card card-body text-center">
                  <p>No hay articulos disponibles</p>
               </div>
            </div>
            {{/each}}
         </div>
      </div>

      <div class="mx-auto">
         <button id='btn_cambiar' onClick="show({{articulo.idArticulo}})" class="btn btn-gris mb-2">Aceptar</button>
         <a href="/buscador" class="btn btn-rojo mb-2">Cancelar</a>
      </div>
   </div>
   </div>

   <div class="modal" tabindex="-1" role="dialog" id="idAlertaCompra">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Confirmar intercambio</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>¿Está seguro que desea cambiar este artículo?</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-gris" id="idBotonConfirmar" onclick="intercambiar()">Cambiar</button>
               <button type="button" class="btn btn-rojo" data-dismiss="modal">Cancelar</button>
            </div>
         </div>
      </div>
   </div>

</body>
<script src="/scripts/cambiar.js" type="module"></script>

</html>